@import "./../../styles";
@import "https://fonts.googleapis.com/css?family=Open Sans";

.textAreaContainer {
  width: 100%;
  display: inline-flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  vertical-align: bottom;

  textarea {
    resize: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    font-family: "Open Sans";
    font-size: 1rem;
    border: 1px solid  $grey-project;
  }

  textarea::-webkit-input-placeholder {
    color: grey;
  }

  textarea:-moz-placeholder {
    color: grey;
  }

  textarea::-moz-placeholder {
    color: grey;
  }

  textarea:-ms-input-placeholder {
    color: grey;
  }

  textarea::placeholder {
    color: grey;
  }
}