@import "../../styles.scss";

.containerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content  {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: white;

    .title {
        margin-bottom: 4rem;
        font-size: $titlesize;
        font-weight: $titleweight;
    }

    .inputs {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;

        .input {
            width: 100%;
        }

        .text {
            font-weight: 400;
            cursor: pointer;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;

    }

 }
}